.body {
    display: flex;
    justify-content: center;
}

h1 {
margin-left: 650px;
color: green;
}

#number {
margin-left: 530px;
}

.container {
    margin-top: 20px;
    width: 30em;
    height: 30em;
}

.nav-link {
    color:green;
}

.navbar-nav .nav-link {
    color: green;
}

.profile-pic {
    width: 200px; /* istediğiniz genişliği buradan ayarlayabilirsiniz */
    height: 200px; /* istediğiniz yüksekliği buradan ayarlayabilirsiniz */
    border-radius: 50%; /* dairesel yapının köşelerinin yuvarlatılmasını sağlar */
    background-color: #e5e5e5; /* dairesel yapının arkaplan rengi */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.5 ease-in-out;
    border: 2px solid #00ff00;
    box-shadow: 0 0 5px rgb(0, 255, 0);
    z-index: 2;
}

.profile-pic.clicked {
    transform: translateY(-25%);
  }

.info-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 1200px;
    height: 740px;
    margin-top: 80px;
    box-shadow: 0 0 10px rgba(214, 208, 208);
    z-index: 1;
 }

 #ortakart {
    box-shadow: 0 0 10px rgb(214, 208, 208);
    padding: 20px 20px ;
 }

 #carouselExampleCaptions {
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
 }

 .row {
    display: flex;
    justify-content: center;
 }

 .col-sm {
    max-width: 600px;
 }

 .container-field {
    background-color: white;
    height: 150px;
 }
 

