* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

main {
	margin: 20px;
}

#search {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 70%;
}

#submit-btn {
	padding: 10px;
	border: none;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}

#result {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

.movie-card {
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	margin: 10px;
	width: calc(33.33% - 20px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.movie-card img {
	height: 200px;
	object-fit: cover;
	border-radius: 5px 5px 0 0;
}

.movie-card .info {
	padding: 10px;
}

.movie-card h2 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

.movie-card p {
	font-size: 14px;
	margin: 0;
}
